.add-meeting-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .planning {
    display: flex;
    flex-direction: column;
  }
  
  .setDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .setDetails_time,
  .setDetails_description {
    display: flex;
    flex-direction: column;
  }
  
  .setDetails_description input {
    width: 100%;
    height: 30px;
    white-space: pre-wrap;
    border: 2px solid black;
    margin-top: 10px;
    background: transparent;
    padding: 5px;
  }
  
  .location-button,
  .add-activity-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .location-button:hover,
  .add-activity-button:hover {
    background-color: #0056b3;
  }
  
  .setDetails_location {
    border: 2px solid black;
    padding: 10px;
  }
  
  .setDetails_location label,
  .setDetails_location p {
    margin: 5px 0;
  }
  