.calendar-handler_background { 
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url("../image/image.jpg");
    background-size: cover; 
    width: 100%;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}