.tripinput {
    background-image: url("../image/image.jpg");
    background-size: cover; 
    width: 100%;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.tripinput_container {
    color: #333;
    width: 350px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2.5px solid white;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 40px;
    font-weight: bold;
}

.tripinput_container h1 {
    font-size: 20px;
}

.tripinput_container label {
    margin: 5px;
}

.tripinput_container input {
    margin: 10px;
    width: 250px;
    height: 25px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: top 0.3s;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 80px;
    padding: 0 20px; 
    box-sizing: border-box;
}

.navbar_container {
    display: flex;
    align-items: center;
}

.navbar_container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar_container ul li {
    margin: 0 20px;
    font-size: 18px;
}

.navbar_container ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px; 
}

.navbar h1 {
    font-size: 24px; 
    margin: 0; 
}

.signout_button {
    margin-left: 20px; 
}
