.tracker {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:auto;
    border: 1px solid black;
}

.inputquestions {
    justify-content: space-evenly;
    display:flex;
    flex-direction:column;
    padding: 10px;
    width:50%;
}

.tracker_input-box {
    border-radius: 10px;
    margin: 10px 0;
    width: 150px;
    height: 30px;
}

.tracker_input-box::placeholder {
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.tracker_input-box .input {
    font-size: 100px;
}

.results {
    width:80%;
    display:flex;
    flex-direction:row;
    border: 2.5px solid black;
    overflow: auto;
}

.totalexpense {
    width:100%;
}